a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header h1.logo {
    font-size: 1em;
}

.info-label {
    font-weight: bold;
    font-size: 1.5em;
    color: blue;
}

.error-label {
    font-weight: bold;
    font-size: 1.5em;
    color: red;
}

.normal-label {
    font-weight: bold;
    font-size: 1em;
    color: blue;
}

.red-label {
    font-weight: bold;
    font-size: 1em;
    color: red
}

.alert-style {
    color: red;
    font-weight: bold;
    font-size: 14px;
 }

.logout-style {
    color: blue;
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px;
}

.boxes-style {
    padding-right: 20px;
}
